body{
	background: white;
	font-family: 'Century Gothic';
}
/** ======================HEADER============================ */
.header{
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 50;
	box-shadow: 0px 9px 22px 0px #00000031;
	width: 100%;
	height: 150px;
	background: #fff;
}
.container-header{
	padding: 0px 10px 0px 10px;
	display: flex;
	height: 100%;
	font-display: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1400px;
}
.block-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo {
	margin-right: 10px;
}
.logo-text {
}
.logo-text-1{
	color: #1F2437;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	line-height: 20,72px;
	margin-bottom: 6px;
}
.logo-text-2{
	color: #1F2437;
	font-size: 11px;
	line-height: 11,4px;
}
.nav ul{
	display: flex;
	justify-content: space-between;
	max-width: 600px;
}
.menu-link{
	font-size: 15px;
	text-decoration: none;
	margin: 0px 10px 0px 10px;
	padding: 10px 0px 10px 0px;
	color: #595959;
	transition: all .2s;
}
.menu-link:hover{
	border-bottom: 2px solid #292727;
}
.contacts {
}
.contacts-item{
	display: flex;
	font-display: row;
}
.contacts-item:first-child{
	margin-bottom: 16px;
}
.icon{
	padding-top: 5px;
	margin-right: 5px;
}
.contacts-text p:first-child{
	margin-bottom: 3px;
}
.burger{
	display: none;
}
.burger-close{
	display: none;
}
/*? ====================Второе меню========================= */

@media screen and (max-width:770px) {
	.nav{
		display: none;
	}
	.menu-link{
		width: 60%;
	}
	.header{
		height: 100px;
	}
	.contacts{
		display: none;
	}
	.burger{
		display: block;
		width: 26px;
		height: 20px;
		position: fixed;
		z-index: 55;
		right: 20px;
		top: 42px;
	}
	.burger::before,
	.burger:after{
		content: '';
		position: absolute;
		background-color: #000;
		height: 2px;
		width: 100%;
		left: 0;
		z-index: 56;
		transition: all .3s ease 0s;
	}
	.burger::before{
		top: 0;
	}
	.burger:after{
		bottom: 0;
	}
	.burger span{
		position: absolute;
		height: 2px;
		top: 9px;
		width: 100%;
		background: #000;
	}
	.burger.active-burger::before{
		transform: rotate(45deg);
		top:9px;
	}
	.burger.active-burger::after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.burger.active-burger span{
		display: none;
	}


	.nav-r .responsive-link{
		margin-bottom: 10px;
	}
}
.blure{
	background: hsla(0, 0%, 0%, 0.5);
	transition: all .4s ease-in-out;
}
/*?=============================*/

.nav-r{
	height: auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}
.responsive-menu{
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px;
	background: #fff;
	width: 280px;
	position: fixed;
	z-index: 51;
	top: 0;
	right: -360px;
	bottom: 0;
	transition: all .3s;
	box-shadow: 0px 9px 22px 0px #00000031;

}
.active{
	right: 0;
}






/** ======================MAIN============================ */
/*TODO Сделать отступ под картинку для мейна */

main{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 160px; 
}
.container{
	padding: 0px 10px 0px 10px;
	display: flex;
	height: 100%;
	font-display: row;
	align-items: center;	
	justify-content: center;
	margin: 0 auto;
	max-width: 1400px;
}

/*?=======================title-block==================================*/

.title-block{
	display: flex;
	flex-direction: row;
}
.title-block-text h2{
	width: 100%;
	margin-top: 70px;
	margin-bottom: 55px;
	font-size: 48px;
	line-height: 58.85px;
	font-weight: 700;
	color: #1F2437;
}
.none{										/* Костыль*/
	filter: blur(10px);
	opacity: .4;
}
.ul{
	margin-bottom: 58px;
	display: flex;
	justify-content: space-between;
	width: 320px;
}
.li{
	position: relative;	
	margin-left: 16px;
}
.li:before{
	content: '';
	position: absolute;
	top: 6px;
	left: -13px;
	background:#D42630;
	border-radius: 5px;
	width: 6px;
	height: 6px;
}
.title-btn{
	border:none;
	font-size: 18px;
	font-weight: 700;
	border-radius: 6px;
	width: 205px;
	height: 52px;
	background: #D42630;
	color: #fff;
	transition: all .4s;
}
.title-btn:hover{
	background: rgb(255, 255, 255);
	border:3px solid #D42630 ;
	color: #1F2437;
}
.title-block-img img{
	max-width: 600px;
	max-height: 100%;
}

/*?=======================docs==================================*/

.wrapper{
	width: 100%;
	background: #F8F8F8;	
}
.container.docs-slider{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	justify-content: start;
}
.docs-title{
}
.docs-title h2{
	width: 100%;
	margin-top: 75px;
	margin-bottom: 70px;
	font-size: 40px;
	color: #1F2437;
	line-height: 41.44px;
	font-weight: 700;
}
.slider{
	width: 100%;
	height: 200px;
}


/*?===================Services==========================*/

.container.block-services {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	justify-content: start;
}
.services-title{
	margin-top: 80px;
	margin-bottom: 70px;
	font-size: 40px;
	line-height: 41.44px;
	font-weight: 700;
}

/*?======================QES============================*/

.container.qes{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	justify-content: start;
}
.qes .title-main{
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: 48px;
	line-height: 58.85px;
	font-weight: 700;
	color: #1F2437;
}
.qes .title-responsive{
	display: none;
}
.qes p{
	margin-bottom: 40px;
	font-size: 23px;
	line-height: 23.83px	;
	color: #1F2437;
}
.qes input{
	width: 348px;
	height: 52px;
	background:#D42630;
	border-radius: 6px;
	border: none;
	font-size: 18px;
	line-height: 18.65px;
	color: #fff;
	font-weight: 700;
	transition: all .4s;
	margin-bottom: 80px;
}
.qes input:hover{
	background: rgb(255, 255, 255);
	border:3px solid #D42630 ;
	color: #1F2437;
}

/*?==========================Why================================*/


.container.why{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	justify-content: start;
}
.why-title{
	margin-top: 80px;
	margin-bottom: 70px;
	font-size: 40px;
	line-height: 41.44px;
	font-weight: 700;
}
.why-items{
	justify-content: start;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
}
.why-item{
	margin-right: 60px;
	position: relative;
	max-width: 300px ;
	margin-bottom: 95px;
}
.why-item:nth-child(3){
	width: 300px;
}
.why-item:nth-child(4),
.why-item:nth-child(8){
	margin-right: 0;
}
.why-item svg{
	margin-bottom: 20px;
}
.why-item h4{
	font-size: 22px;
	line-height: 22.83px;
	color: #1F2437;
	font-weight: 700;
	margin-bottom: 43px;
}
.why-item span{
	position: absolute;
	top: 185px;
	width: 100%;
	background:#D42630;
	height: 6px;
}
.why-item p{
	font-size: 15px;
	line-height: 15.54px;
	font-weight: 700;
	margin-top: 15px;
}

/*?===========================qes2=====================*/

.wrapper.red{
	background: #D42630;
}
.second{
	display: none;
}
.container.qes2{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	justify-content: start;
}
.qes2-title{
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: 50px;
	color: #fff;
	line-height: 58.85px;
	font-weight: 700;
}
.qes2 p{
	font-size: 23px;
	line-height: 23.83px;
	color: #fff;
}
.qes2 input{
	width: 215px;
	height: 52px;
	border:none;
	border-radius: 6px;
	background-color: #fff;
	color: #D42630;
	font-size: 18px;
	line-height: 18.53px;
	font-weight: 700;
	margin-top: 55px;
	margin-bottom: 80px;
	transition: all .4s;
}
.qes2 input:hover{
	background: #D42630;
	border:3px solid #e7313b ;
	color: #fff;
}


/*?========================letters======================*/

.container.letters{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	justify-content: start;
}
.letters-title{
	margin-top: 76px;
	margin-bottom: 100px;
	font-size: 40px;
	color: #1F2437;
	line-height: 41.44px;
	font-weight: 700;
}

/*?=======================reviews=======================*/


.container.reviews{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	justify-content: start;
}
.reviews-title{
	margin-top: 76px;
	margin-bottom: 100px;
	font-size: 40px;
	color: #1F2437;
	line-height: 41.44px;
	font-weight: 700;
}

/*?=======================facts=======================*/

.container.facts{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	justify-content: start;
}
.facts-title{
	margin-top: 76px;
	margin-bottom: 100px;
	font-size: 40px;
	color: #1F2437;
	line-height: 41.44px;
	font-weight: 700;
}

.facts-items{
	justify-content: start;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
}
.facts-item{
	margin-right: 60px;
	position: relative;
	max-width: 220px ;
	margin-bottom: 95px;
}
.facts-item h4{
	font-size: 40px;
	line-height: 41.44px;
	color: #1F2437;
	font-weight: 700;
	margin-bottom: 43px;
}
.facts-item span{
	position: absolute;
	top: 65px;
	width: 100%;
	background:#D42630;
	height: 6px;
}
.facts-item p{
	font-size: 15px;
	line-height: 15.54px;
	font-weight: 700;
	margin-top: 15px;
}



/** ======================MEDIA queries====================*/

@media screen and (max-width:376px){


	/** =====header======*/
	main{ 	
		padding-top: 110px;
		margin: 0;
		width: 375px;
	}
	.header{
		width: 375px;
	}
	.container-header{
		padding: 0 5px 0 5px;
	}
	.logo-text-1{
		font-size: 16px;
	}
	.logo-text-2{
		font-size: 10px;
	}
	.burger{
		right: 30px;
		top: 42px;
	}
	/**======main=======*/
	
	/**=============title-block======*/
	.container{
		padding: 0 5px 0 5px;
		width: 355px;
	}
	/* .title-block-img{
		width: 355px;
	} */
	.title-block-img img{
		max-width: 300px;
		max-height: 100%;
	}
	.title-block-text h2{
		margin-top: 0px;
		font-size: 24px;
		line-height: 29.43px;
		width: 355px;
		overflow:hidden;
	}
	.title-block{
		width: 355px;
		flex-direction: column-reverse;
	}
	.container.docs-slider{
		padding: 0;
		width: 355px;
	}
	.title-btn{
		margin-bottom: 60px;
	}
	/**=============services======*/
	.container.block-services{
		width: 355px;
	}
	/**=============qes======*/
	.container.qes{
		width: 355px;
	}
	.qes .title-main{
		display: none;
	}
	.qes .title-responsive{
		display: inline;
		margin-top: 60px;
		color: #1F2437;
		font-weight: 700;
		font-size: 24px;
		line-height: 29.43px;
		margin-bottom: 20px;
	}
	.qes p{
		font-size: 11px;
		line-height: 11.43px;
		margin-bottom: 20px;
	}
	.qes input{
		margin-bottom: 60px;
	}
	/**=============why======*/
	.container.why{
		width: 355px;
	}
	.why-item{
		margin-bottom: 50px;
		margin-right: 20px;
		max-width: 158px;
	}
	.why-item:nth-child(2),
	.why-item:nth-child(6){
	margin-right: 0;
	}
	.why-item:nth-child(3) span,
	.why-item:nth-child(4) span,
	.why-item:nth-child(5) span,
	.why-item:nth-child(6) span,
	.why-item:nth-child(7) span,
	.why-item:nth-child(8) span{
		top: 205px;
	}
	.why-title{
		margin-top: 60px;
		margin-bottom: 40px;
		font-size: 34px;
		line-height: 34.44px;
		font-weight: 700;
	}
	.why-item h2{
		font-size: 16px;
		line-height: 16.58px;
	}

	/*?===============qes2=============*/
	.container.qes2{
		width: 355px;
	}
	.first{
		display: none;
	}
	.second{
		display: inline;
	}
	.qes2-title{
		margin-top: 60px;
		font-size: 24px;
		line-height: 29.43px;
		margin-bottom: 20px;
	}
	.qes2 p{
		font-size: 11px;
		line-height: 11.4px;
		margin-bottom: 20px;
	}
	.qes2 input{
		margin-bottom: 60px;
		margin-top: 0;
	}
	/*?===============letters=============*/
	.container.letters{
		width: 355px;
	}
	.letters-title h2{
		width: 100%;
	}
	/*?===============reviews=============*/
	.container.reviews{
		width: 355px;
	}
	/*?===============facts=============*/
	.container.facts{
		width: 355px;
	}
	.facts-title{
		margin-bottom: 50px;
		font-size: 29px;
		line-height: 29px;
	}
	.facts-items{
		justify-content: center;
	}
	.facts-item{
		margin-right: 0;
		min-width: 335px ;
		margin-bottom: 95px;
	}
}
